.navbar{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.navbar__container{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}

.navbar__links{
    justify-self: end;
    display: none;
}

.navbar__links.active{
    display: grid;
    place-items: center;
    position: absolute;
    top:0;
    left:0;
    z-index:10;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    background: #000e;
}

.navbar__links li{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navbar__links a{
    font-weight:300;
    text-decoration: none;
    color: #fff;
}

.navbar__links a.active{
    color: var(--color-copy);
}

.navbar__links a:hover{
    color: var(--color-primary);
}

.navbar__menu-btn{
    font-size: 3rem;
    cursor: pointer;
    z-index: 10;
    color: #fff;
    width: fit-content;
    background: unset;
    border: unset;
    justify-self: end;
    align-self: start;
    margin-top: 1.5rem;
}